@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
  margin: 0;
  padding: 0;
  background: var(--tint);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
  :root {
      --green: #68fe9a;
      --primary: #060606;
      --tint: #24272c;
      --textColor: #fefaf1;
      --blue:#A1E5F5;
      --yellow:#FFF338;
      --purple:#8956F1;
    }  
  .lightMode{
    --green: #94e19b;
    --primary: #fff;
    --tint: #fafafa;
    --textColor: #010101;
  }
  #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--primary);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 80px;
  }
  #nav.scrolled-down {
    height: 90px;
    border-bottom: 2px soild var(--green);
  }
  
  #nav h2{
    color: var(--textColor);
    font-family: 'Kalam', cursive;
    position: relative;
    left: 4%;
    letter-spacing: 2px;
  }
  
  #nav h2 b{
    color: var(--green);
  }
  
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
  }
  .navbar li{
    list-style: none;
  }
  .navbar li a{
    display: block;
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.8rem;
    font-family: 'Ubuntu';
  }
  .navbar li a:hover, .navbar li a .active{
    color: var(--green);
    text-decoration: underline  wavy var(--textColor);
  }
  
  .buttonSpace{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 14vw;
    position: relative;
    right: 2%;
  }

  .login{
    display: block;
    background: var(--green);
    border-radius: 30px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    font-family: 'Ubuntu';
    padding: 5px 14px;
    margin-right: 10px;
    color: var(--primary);
    font-family:'Ubuntu';
    cursor: pointer;
  }
  .login:hover{
    background: var(--tint);
    border-color: var(--green);
    color: var(--green);
  }

  #mode{
    height: 48px;
    cursor: pointer;
  }
/* **** NAVBAR SECTION ENDS **** */
/* **** ALERT BANNER *****/
  

/* **** FORM SECTION STARTS **** */
#formContainer{
  display: none;
  position: fixed;
  top: 20%;
  left: 25%;
  z-index: 10;
  font-family: 'Montserrat';
}
h1 {
  font-weight: bold;
  margin: 0;
}
.greenHead{
  color: var(--green);
}
h1
.formInfo {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.hInfo{
  text-align: center;
}

span {
  font-size: 12px;
}

a {
  color: var(--green);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: none;
  background-color: var(--green);
  color: var(--textColor);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border: 1px solid var(--tint);

  transition: 0.5s;
}

button.ghost:hover {
  background-color: var(--tint);
  color: var(--green);
  cursor: pointer;
}

form {
  background-color: var(--tint);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.exitButton{
  color: var(--green);
  background-color: var(--tint);
  font-size: 1.6rem;
  padding: 0;
  position: relative;
  left: 4px;
}
.exitButton:hover{
  color: red;

}
.container {
  background-color: var(--tint);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.log-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .log-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
      opacity: 0;
      z-index: 1;
  }

  50%,
  100% {
      opacity: 1;
      z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--green);
  background: linear-gradient(142.18deg, #74F2CE 0%, #7CFFCB 98.85%);


  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

/* **** FORM SECTION ENDS **** */

/* **** HERO SECTION STARTS **** */
  #hero{
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    background: url(../static/Image/heroBackground.jpg) no-repeat center/ cover;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
  }
 #heroLeft{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 0%;
  width: 45vw;
 }
  #heroLeft h1{
    color: #fefaf1;
    font-family: 'Kalam', cursive;
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-align: left;
    position: relative;
    top: 30%;
    left: 20%;
    /* border: 2px solid white; */
  }

  #heroLeft h1 b{
    font-size: 6rem;
    color: var(--green);
  }

  #heroLeft h2{
    color: #fefaf1;
    text-align: right;
    font-family: 'Ubuntu';
    font-size: 4rem;
    letter-spacing: 2px;
    display: flex;
    width: 25vw;
    position: relative;
    bottom: 10%;
    left: 40%;
    border: 4px dashed var(--green);
    padding: 10px;
    text-decoration: underline var(--green);
  }

  #heroLeft h2:hover{
    border: 4px solid var(--green);
    cursor: pointer;
  }

  #heroRight{
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    position: absolute;
    left: 55vw;
    top: 80px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  #heroRight h3{
    color: var(--green);
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
  }

  .buildButton{
    color: var(--primary);
    background: var(--green);
    width: 9vw;
    height: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40vh;
    animation: fancyBorder 8s infinite;
  }

  @keyframes fancyBorder {
    0%{
      border-radius: 48% 52% 48% 52% / 54% 52% 48% 46% ;
    }
    20%{
      border-radius: 64% 36% 70% 30% / 30% 51% 49% 70% ;
    }

    40%{
      border-radius: 43% 57% 46% 54% / 44% 62% 38% 56% ;
    }

    60%{
      border-radius: 16% 84% 34% 66% / 65% 35% 65% 35% ;
    }
    80%{
      border-radius: 34% 66% 45% 55% / 46% 63% 37% 54% ;
    }
    100%{
      border-radius: 48% 52% 54% 46% / 43% 25% 75% 57% ;
    }
  }

  .buildButton a{
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Ubuntu';
    animation: blinkColor 4s infinite;
  }

  @keyframes blinkColor {
    0%{
      color: var(--textColor);
    }
    50%{
      color: var(--primary);
    }
    100%{
      color: var(--textColor);
    }
  }

/* **** HERO SECTION ENDS **** */
.cardSectionHeader{
  color: var(--green);
  font-size: 5rem;
  text-align: left;
  left: 2vw;
  position: absolute;
  top: 120vh;
  width: 100vw;
  text-transform: capitalize;
  font-family: 'Roboto Mono', monospace;
}

/* **** CARD SECTION STARTS**** */

#cardSection{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 170vh;
  left: 0;
}


.cardContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30vw;
  height: 40vh;
  flex-wrap: wrap;
  border-radius: 30px;
  border: 4px solid var(--blue);
  background: var(--primary);
  overflow: hidden;
}
.cardContainer:nth-of-type(1){
  border-color: var(--purple);
}
.cardContainer:nth-of-type(2){
  border-color:  var(--yellow);
}
.cardContainer:nth-of-type(3){
  border-color:  var(--blue);
}
.cardContent{
  width: inherit;
  height: 20vh;
}
.cardImg img{
  height: 20vh;
  position: relative;
  top: 10%;
  left: 5%;
  z-index: 0;
}

.cardInfo{
  display: flex;
  position: relative;
  width: inherit;
  top: 80%;
  color: var(--blue);
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  /* background: var(--blue); */
  color: var(--textColor);
  /* border: 2px solid white; */
  z-index: 1;
  top: 36%;
  right: 5%;
}

.cardInfo b{
  text-align: right;
  font-size: 2.2rem;
  font-family: 'Ubuntu';
  /* background-color: var(--primary); */
  
}


.cardContainer:nth-of-type(1):hover{
  background: var(--purple);
}
.cardContainer:nth-of-type(2):hover{
  background: var(--yellow);
}
.cardContainer:nth-of-type(3):hover{
  background: var(--blue);
}

.cardInfo b:nth-child(){
  color: var(--purple);
}
.cardInfo b:nth-child(2){
  color: var(--yellow);
}
.cardInfo b:nth-child(3){
  color: var(--blue);
}

.cardContainer:hover .cardInfo{
  top: -45%;
  left: 2%;
}
.cardContainer:hover .cardInfo b {
  text-align: left;
}
.cardContainer:hover .cardImg img{
  top: 300%;
}

.hidden{
  opacity:0;
  fill: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.show1{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.cardContainer:nth-child(1){
  transition-delay: 200ms;
}
.cardContainer:nth-child(2){
  transition-delay: 400ms;
}
.cardContainer:nth-child(3){
  transition-delay: 600ms;
}

/* **** CARD SECTION ENDS**** */

.cardSectionFooter{
  display: flex;
  width: 100vw;
  height: 60vh;
  position: absolute;
  top: 220vh;
  left: 0;
  align-items: center;
  font-family: 'Ubuntu';
  justify-content: space-between;
  background-color: var(--primary);
}
.cardSectionFooter h2{
  display: block;
  font-size:6rem;
  width: 40vw;
  text-align: center;
  color: var(--textColor);
}
.cardSectionFooter div{
  position: relative;
  top: 5vh;
  color: var(--textColor);
  display: flex;
  font-size: 4rem;
  width: 40vw;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
}

.cardSectionFooter div a{
  text-decoration: none;
  display: block;
  position: relative;
  right: 0;
  padding: 12px;
  color: var(--primary);
  background-color: var(--green);
  border: 2px soild var(--textColor);
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
  margin-top: 60px;
}
.cardSectionFooter div a:hover{
  opacity: 0.5;
}
/* **** TEMPLATES SECTION STARTS**** */

#templates{
  position:absolute;
  width: 100vw;
  top: 280vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#templates h2{
  display: block;
  width: 60vw;
  font-size: 4.5rem;
  color: var(--textColor);
  font-family: 'Pacifico', cursive;
}
  #templates h3{
  display: block;
  width: 69vw;
  color: var(--green);
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
}

.filter{
  display: block;
  position: absolute;
  right: 5vw;
  /* bottom: 1vh; */
}
#filterbox{
  display: none;
}
#filterbox form{
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 30vh;
  background-color: var(--textColor);
  color: var(--primary);
  font-family: 'Ubuntu';
}

.templateContainer{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-around ;
  width: 100vw;
}

.templateCard{
  display: hidden;
  flex-direction: column;
  width: 30vw;
  height: 29vh;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 15px;
  border: 3px solid var(--green);
  /* overflow: hidden; */
  margin-top: 5vh;
}
.templatePreview{
  position: relative;
  top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.templatePreview img{
  display: block;
  width: 30vw;
  height: 25vh;
  opacity: 0.8;
}
.templateName{
  color: var(--green);
  width: inherit;
  text-align: left;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
}

.templateCard .templateCardFooter a{
  text-decoration: none;
  position: relative;
  color: var(--primary);
  font-family: 'Ubuntu';
  background-color: var(--green);
  display: block;
  padding: 8px;
  left: 70%;
  bottom: 120px;
  border-radius: 8px;
  opacity:0;
  width: 45px;
  text-align: center;
}
.templateCard:hover{
  cursor: pointer;
}
.templateCard:hover .templateCardFooter a{
  transition-duration: 1s;
  scale: 1.2;
  opacity: 1;
}

.templateCard:hover .templatePreview img{
  opacity: 1;
  transition-duration: 1s;
}




/* ******$ MANAGE PAGE $****** */

.manageContainer{
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex-direction: row;
}

.optionContainer{
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  flex-wrap: wrap;
  z-index: 5;
}

.option {
  font-family: 'Ubuntu';
  font-size: 1.4rem;
  background-color: var(--green);
  color: var(--primary);
  padding: 5px 10px;
  margin: 15px 0px;
}

.rightContainer{
  display: flex;
  position: absolute;
  left: 25vw;
  top: 0;
  flex-direction: column;
  height: 100vh;
  width: 75vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--tint);
  color: var(--textColor);
}

#dataForm{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 75vw;
}

.dataFormContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 75vw;
  overflow: hidden;
}

.dataFormContainer h2{
  font-size: 2rem;
  text-align: center;
}

.bodycontainer{

  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--textColor);
}
.finalContainer{
  display: flex;
  height: 25vh;
  width: 30vw;
  flex-direction: column;
  background-color: var(--tint);
  align-items: center;
  font-size: 2rem;
  border: 2px solid var(--primary);
  border-radius: 25px;
  font-family: 'Poppins';
  color: var(--textColor);
  overflow: hidden;
}
.finalContainer div{
  background-color: var(--primary);
  width: 100%;
  text-align: center;

}
.finalContainer a{
  color: var(--textColor);
  background-color: var(--green);
  text-decoration: none;
  font-family: 'Ubuntu';
  border: 2px solid var(--textColor);
  border-radius: 5px;
  width: 30%;
  text-align: center;
}